h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 0px 40px 0px;
}

button {
    height: 35px;
    width: 175px;
    margin-left: 10px;
}

.array-container {
    width: 70%;
    height: 550px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    margin: 50px auto;
}

.array-bar {
    width: 4px;
    display: inline-block;
    margin: 3px 2px;
    vertical-align: top;
    background-color: rgb(30, 199, 221);
}

.resetBtn {
    margin-right: 10px;
}

.info-wrapper {
    margin: 50px 0px 0px 0px;
    padding: 20px 20% 50px 20%;
    background-color: rgb(234, 242, 248);
}